@use 'Styles' as *;
@use 'sass:color';

.navigation-bar {
    display: flex;
    .nav-items {
        padding: $space-l;
        background-color: $color-primary;
        flex: 1;
        text-align: center;
        font-family: $font-family;
        font-size: $font-size-m;
        text-transform: uppercase;
        font-weight: bold;
        a {
            color: white;
            text-decoration: unset;
        }

        a:hover {
            color: black;
        }
    }
}