@use 'Styles' as *;

.arrow {
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;

    &.down {
      transform: translate(0px, -2px) rotate(45deg);
      -webkit-transform:  translate(0px, -2px) rotate(45deg);
    }

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }