@use 'Styles' as *;

// background color
$dd-background-color-default: hsl(0, 0%, 80%);
$dd-background-color-hovered: hsl(0, 0%, 65%);
$dd-background-color-open: hsl(0, 0%, 55%);

// font color
$dd-font-color-default: #000;
$dd-font-color-hovered: $color-primary-dark;
$dd-font-color-open: $color-primary-dark;


.dropdown {
  position: relative;

  .dropdown-label {
    font-family: $font-family;
    font-size: $font-size-s;
    color: #333333;
    float: left;
  }

  .dropdown-list {
    outline: none;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: $color-primary;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1000;

    .dropdown-item {
      font-family: $font-family;
      padding: $space-s $space-m $space-s $space-m;
      display: flex;
      cursor: pointer;
      padding-left: $space-l;
      padding-right: $space-l;

      .dropdown-item-selected-icon {
        color: $color-primary;
        margin-right: $space-m;
      }

      &:hover {
        background-color: $color-primary-transparent;
      }
    }
  }
}

