@use 'Styles' as *;

$color-hovered: #c2132f;

.dropdown {
  width: fit-content;

  &:hover {
    .arrow {
      border-color: white;
    }

    .header {
      background-color: darkgrey;
      color: white;
    }
  }

  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: $space-m;

    &.down {
      transform: translate(0px, -2px) rotate(45deg);
      -webkit-transform:  translate(0px, -2px) rotate(45deg);
    }

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;

    .dropdown-item {
      font-family: $font-family;
      padding: $space-s $space-m $space-s $space-m;

      &:hover {
        background-color: $color-hovered;
      }
    }
  }
}

$font-color: #fff;
$focus-ring-color: #fff;
$color: #e21e3d;
$color-hovered: darkgrey;

.header {
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size-s;
  color: black;
  cursor: pointer;
  font-family: $font-family;
  font-weight: bold;
  padding: $space-l $space-l $space-l $space-l;

  &:focus {
    outline: none;
  }
}