$color-primary: rgba(226, 30, 61, 1);
$color-primary-hsl: hsl(351, 77%, 50%);
$color-primary-dark: hsl(351, 77%, 30%);
$color-primary-darker: hsl(351, 77%, 20%);
$color-primary-transparent: rgba(226, 30, 61, 0.3);