@use 'Styles' as *;

$margin: 20px;

.category-title {
  margin-bottom: $margin  ;
  font-family: $font-family;
  font-size: $font-size-l;

  span {
    margin-bottom: $margin;
    font-weight: bold;
  }

  .separator {
    margin: 0;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: $border-color;
  }
}