@use 'Styles' as *;
@import 'Styles/mixins';

@mixin spacing {
  padding-left: $space-l;
  padding-right: $space-l;
  padding-top: $space-m;
  padding-bottom: $space-m;
}

.base {
  cursor: pointer;
  @include spacing;
  box-sizing: border-box;
  position: relative;
  border: $border-width-s solid $border-color;
  background-color: transparent;
  @include focus-ring;

  .beforeElement {
    content: '';
    background-color: $color-primary; // default color
    position: absolute;
    top: -$border-width-s;
    left: -$border-width-s;
    width: calc(100% + #{2*$border-width-s});
    height: calc(100% + #{2*$border-width-s});
    z-index: -1;
  }

  &:focus {
    border-color: transparent;
  }
  
  &:hover {
    .beforeElement {
      filter: brightness(0.9);
    }
  }

  @mixin active-look {
    border-color: transparent;
    .beforeElement {
      filter: brightness(0.8);
    }
  }

  // defining this class, to programmatically trigger it
  &.active {
    @include active-look;
  }

  &:active {
    @include active-look;
  }
}