@use 'Styles' as *;

$font-color: #fff;
$focus-ring-color: #fff;
$color: #e21e3d;
$color-hovered: #c2132f;

.custom-button {
  background-color: $color;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size-s;
  color: $font-color;
  cursor: pointer;
  font-family: $font-family;
  font-weight: bold;
  padding: $space-l $space-l $space-l $space-l;

  &:hover {
    background-color: $color-hovered;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 1px $color,
    inset 0px 0px 0px 3px $focus-ring-color;

    &:hover {
      box-shadow: inset 0px 0px 0px 1px $color-hovered,
      inset 0px 0px 0px 3px $focus-ring-color;
    }
  }

  .arrow {
    padding-left: $space-l;
  }
}